<div class="cover">
  <div class="text-vertical-center">
    <img class="money-bag" src="http://i.imgur.com/VnsFmAC.png">
    <h1>DollarThoughts</h1>
    {{#if isAuthenticated}}
    <h4> We're here to make money less confusing</h4>
    {{else}}
    {{#link-to "sign-up"}}<button class="btn btn-success signed-out-button" id="signUpButton" type="button"  data-toggle="modal" data-target="#signUpModal">Sign Up</button>{{/link-to}}
    {{#link-to "sign-in"}}<button class="btn btn-success signed-out-button" id="signInButton" type="button"  data-toggle="modal" data-target="#signInModal">Sign In</button>{{/link-to}}
    {{/if}}
  </div>
</div>
