@import 'bootstrap';
@import 'bootstrap/theme';
body { padding-top: 70px; }

.page-header {
  margin-bottom: 25px;
  background: no-repeat center center;
  background-color: #777777;
  padding-top: 100px;
  color: white;
  text-align: center;
}

.masthead {
  margin: auto;
  // margin-bottom: 50px;
  background: url(https://static.pexels.com/photos/259209/pexels-photo-259209.jpeg) no-repeat center center;
  background-color: #777777;
  padding: 200px 0 150px;
  color: white;
  text-align: center;
  width: 100%;
  height: 100vh;
}
.profile-info {
  text-align: center;
}

.create-form  {
}

.loans-list {
  text-align: center;
  border: thin solid black;
  margin: 10px;
}
