@import 'bootstrap';
@import 'bootstrap/theme';
body { padding-top: 70px; }
body,
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0px;
  // padding: 0px;
}
.cover {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  color: green;
}
.text-vertical-center {
  padding-top: 10%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vertical-center h1 {
  margin: 0, 0, 10px, 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}
.money-bag {
  height: 75px;
  width: 75px;
  animation: wiggle 3s linear 2s infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes wiggle {
  4% {
    transform: translate3d(-2px, 0, 0);
  }

  8%{
    transform: translate3d(2px, 0, 0);
  }

  12%{
    transform: translate3d(-2px, 0, 0);
  }

  16%{
    transform: translate3d(2px, 0, 0);
  }

  20%, 100%{
    transform: translate3d(0, 0, 0);
  }
}

.page-header {
  margin-bottom: 25px;
  background: no-repeat center center;
  background-color: #777777;
  padding-top: 100px;
  color: white;
  text-align: center;
}

.masthead {
  margin: auto;
  // margin-bottom: 50px;
  background: url(https://static.pexels.com/photos/259209/pexels-photo-259209.jpeg) no-repeat center center;
  background-color: #777777;
  padding: 200px 0 150px;
  color: white;
  text-align: center;
  width: 100%;
  height: 100vh;
}
.profile-info {
  text-align: center;
}

.create-form  {
}

.loans-list {
  text-align: center;
  border: thin solid black;
  margin: 10px;
}
