
<select class="form-control" onchange={{action 'selectLoan' value="target.value"}}>
  <option disabled selected>Choose a loan!</option>
  <option value="new-loan">Create New Loan</option>
  {{#each loans as |loan|}}
  <option value={{loan.id}}>{{loan.name}}</option>>
  {{/each}}
</select>
