<h3>{{loan.name}}</h3>
<button {{action 'deleteLoan'}}>Delete</button>
<button>Edit</button>
<p>{{loan.lender}}</p>
<p>loan length</p>
<p>{{loan.principal}}</p>
<p>interest_rate</p>
<p>start_date</p>
<p>interest_rate</p>
<p>monthly payment</p>
<p>total interest</p>
<p>grand cost</p>
