<header class="masthead">
  <h1>Hook</h1>
  <h3>Call to action</h3>
  {{!-- <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Hook</h1>
          <span class="subheading">Call to action</span>
        </div>
      </div>
    </div>
  </div> --}}
</header>
<div class="container home-body">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      Sign in for more
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-md-offset-2">
      Tools
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      Tool 1
    </div>
    <div class="col-md-3">
      Tool 2
    </div>
    <div class="col-md-3">
      Tool 3
    </div>
  </div>
</div>
